:root{
	--main-color:#b3e0ff;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #333;
	color:white;
}


nav {
    background-color:#b3e0ff;
    color: #05131b;
    text-align: center;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;

}

nav a {
    color: #05131b;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
    font-family:Georgia, 'Times New Roman', Times, serif
}

nav a.active {
    border-bottom: 2px solid ;
}

section {
    padding: 20px;
    text-align: center;
}
/*home section*/
.home {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 5%;
   
}
.image-container img {
    max-width: 70%;
    height: auto;
    border-radius: 30%;	
}
.image-container, .welcome-message {
    width: 70%;
    text-align: center;
    margin: auto;
}

.welcome-message {
    text-align: left; /* Align text to the left */
    margin-left: auto; 
    
}

.welcome-message h2 {
    font-size: 60px;
}


/*about section*/
.about {
    padding: 20px;
    text-align: center;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:auto;
   
    padding:auto;
    align-items: center;
}
.about-text h1{
    text-transform:uppercase;
    color:#3478a0;
}
.about-text p{
    color:var(--main-color);
   font-family:'Times New Roman', Times, serif;
    font-size:25px;
}
.about-text {
    flex: 1;
    width:60%;
    text-align: left;
    
}

.about-image {
    flex: 1;
    text-align:center;
    max-width: 70%;
    height: auto;
    padding-top:50px;
    
   
}

.resizable-image {
    max-width: 95%;
    height: auto;
    border-radius: 20%;
}
span{
    color:var(--main-color);
}

.buttons {
    margin-top: 20px;
    
    
}

.buttons button,
.buttons a {
    color:var(--main-color);
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: black;
}

.buttons button:hover,
.buttons a:hover {
    background-color:#005c99;
}


/*services section*/

.allService{
    
    align-content: space-around;
    text-align: center;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.services{
    max-width: 250px;
    padding: 20px;
    text-align: center;
    
}

.services-container {
    display: block;

}

.service {
    margin: 0 auto;
    border: 5px double var(--main-color);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    max-width: 340px;
    /* width: 300px; */

}
.services h1{
    color:#3478a0;
}

.service img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.service h3 {
    font-size: 30px;
    margin-bottom: 10px;
    color:#05131b;
}

.service p {
    font-size: 20px;
    line-height: 1.5;
    color:var(--main-color);
}

/*contact section*/
.contact{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 10%;
}
.contact, .map-section {
    padding: 20px;
    text-align: center;
}

.contact-container, .map-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    color:var(--main-color);
    font-size:25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}


.contact-info, .contact-form {
    width: 50%;
    text-align: center;
    margin: auto;
}

.contact-item {
    margin-bottom: 20px;
    text-align: center;
}

.contact-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.contact-form h2 {
    margin-bottom: 20px;
    
}

form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10px;
    color:var(--main-color);
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    color:#05131b;
    background-color: var(--main-color);
    border: 5px double #008ae6;
}

button {
    background-color: black;
    color:var(--main-color);
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color:#005c99;
}

.map-container {
    width: 100%;
}

/*footer*/
footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* nav Glow Effect */
.home{
	font-size: 50px;
  color: #a2bfd3 ;
  text-align: left;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }

@-webkit-keyframes glow{
  from {
    text-shadow: 0 0 2px #000f1a, 0 0 5px #002e4d, 0 0 5px #008ae6, 0 0 5px  #4db8ff, 0 0 10px  #ccebff, 0 0 5px , 0 0 10px #001f33;
  }
  to {
    text-shadow: 0 0 3px  #000f1a, 0 0 7px #008ae6, 0 0 10px #002e4d, 0 0 10px  #4db8ff, 0 0 10px  #ccebff, 0 0 10px #001f33, 0 0 7px  #005c99;
  }
}


/* home section Glow Effect */




/* Responsive Styles */
@media only screen and (max-width: 600px) {
    nav a {
        font-size: 10px;
        font-display: center;
    }
 /* Media query for screens with a width up to 600 pixels */
@media screen and (max-width: 600px) {
    nav {
      font-size: 14px;
      padding: 10px;
    }
  
    nav a {
      margin: 0 5px;
    }
  }
  
  /* Media query for screens with a width between 601 and 1200 pixels */
  @media screen and (min-width: 601px) and (max-width: 1200px) {
    nav {
      font-size: 16px;
    }
  }

  
  /* Media query for screens with a width greater than 1200 pixels */
  @media screen and (min-width: 1201px) {
    nav {
      font-size: 18px;
    }
  }


}

/* Responsive styles using media queries */

/* Styles for screens with a width up to 600 pixels */
@media screen and (max-width: 600px) {
    .home {
      font-size: 18px;
    }
    .about {
        font-size: 18px;
      }
      .services {
        font-size: 18px;
      }
      .contact {
        font-size: 18px;
      }
  
   /* .content {
      font-size: 14px;
    }*/
}
  
  
  /* Styles for screens with a width between 601 and 900 pixels */
  @media screen and (min-width: 601px) and (max-width: 900px) {
    .home {
      font-size: 24px;
    }
    .contact {
        font-size: 24px;
      }
      .services {
        font-size: 24px;
      }
      .about {
        font-size: 24px;
      }
    
  
    /*.content {
      font-size: 16px;
    }*/
}
  
  
  /* Styles for screens with a width greater than 900 pixels */
  @media screen and (min-width: 901px) {
    .home {
      font-size: 30px;
    }
    .about{
        font-size: 30px;
      }
  
      .services {
        font-size: 30px;
      }
  
      .contact {
        font-size: 30px;
      }
    
    /*.content {
      font-size: 18px;
    }*/

  }

  @media screen and (max-width: 600px) {
    .about-content,.home{
      flex-direction: column; /* Stack items on top of each other */

    }
  
    .about-image,
    .about-text ,.buttons ,.image-container,.welcome-message{
      width: 100%; /* Full width for both sections on smaller screens */
    }
  }